#back{
   
    background-image: url(piz.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    
}
#txt{

    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
